<body bgcolor="#ffffff" text="#333333">

<br />
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:12px;">
  <tr>
    <td colspan="2" bgcolor="#ee192c" style="font-size:36px; font-family: Arial, Helvetica, sans-serif; padding-left:15px; padding-top:30px; color:#fff;">Newsletter Title<div style="font-size:12px; font-weight: bold;">Short sub header text </div></td>
  </tr>
  <tr>
    <td colspan="2" align="right" bgcolor="#ee192c" style=" padding-right:15px; padding-bottom:10px; color:#fff;">%TODAY% / Issue Number</td>
  </tr>
  <tr>
    <td colspan="2" align="right" valign="bottom" height="190" bgcolor="#FFFFFF" style="color:#000;">
	<img src="cid:5adba517cb953fa2e14bd3ab9cc55076"/>
	<font style="font-size: 46px; padding-right:15px; padding-bottom:10px; ">Headline</font><br/>
    <font style="font-size: 32px; padding-right:15px; padding-bottom:10px; ">Sub-headline</font></td>
  </tr>
  <tr>
    <td width="150" valign="top" style="color:#666666;;"><br>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="14%"><img src="cid:a5676d5286c290f2ccc28b1ff145088a" width="18" height="20" alt="bullet" /></td>
        <td width="86%" style="font-size:18px; color:#ee192c; padding-top:4px; padding-bottom:4px;">In This Issue</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="font-size:14px; font-weight:bold; line-height:150%;">Introduction <br />
  Section 1 <br />
  Section 2 </td>
      </tr>
    </table>
      <p>&nbsp;</p>
      <p><br />
        <br />
      </p>
    </td>
    <td valign="top" style="color:#999999;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:15px;">
      <tr>
        <td width="5%"><img src="cid:a5676d5286c290f2ccc28b1ff145088a" width="18" height="20" alt="bullet" /></td>
        <td width="95%" style="font-size:18px; color:#ee192c; padding-top:4px; padding-bottom:4px;">Introduction</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="font-size:11px; line-height:125%; padding-bottom:15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum, erat et posuere vestibulum, felis tellus elementum neque, sit amet commodo metus sapien ac mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Morbi sollicitudin.</td>
      </tr>
      <tr>
        <td width="5%"><img src="cid:a5676d5286c290f2ccc28b1ff145088a" width="18" height="20" alt="bullet" /></td>
        <td width="95%" style="font-size:18px; color:#ee192c; padding-top:4px; padding-bottom:4px;">Section 1</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="font-size:11px; line-height:125%; padding-bottom:15px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum, erat et posuere vestibulum, felis tellus elementum neque, sit amet commodo metus sapien ac mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Morbi sollicitudin. </p>
          <p>Fusce hendrerit sapien ut eros. Sed ut metus sed dolor pulvinar condimentum. Duis turpis. In rhoncus metus sed nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc id sapien. Donec pulvinar.</p>
          <p><a href="&lt;web link&gt;"><font style="color:#666666; text-decoration: underline;">Click here to read more</font></a></p></td>
      </tr>
      <tr>
        <td width="5%"><img src="cid:a5676d5286c290f2ccc28b1ff145088a" width="18" height="20" alt="bullet" /></td>
        <td width="95%" style="font-size:18px; color:#ee192c; padding-top:4px; padding-bottom:4px;">Section 2</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="font-size:11px; line-height:125%; padding-bottom:15px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum, erat et posuere vestibulum, felis tellus elementum neque, sit amet commodo metus sapien ac mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Morbi sollicitudin. </p>
          <p>Fusce hendrerit sapien ut eros. Sed ut metus sed dolor pulvinar condimentum. Duis turpis. In rhoncus metus sed nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc id sapien. Donec pulvinar.</p>
          <p><a href="&lt;web link&gt;"><font style="color:#666666; text-decoration: underline;">Click here to read more</font></a></p></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" align="center" bgcolor="#ee192c" style="padding:15px; font-size:10px; color:#fff;">&copy; 2011 My Company. All rights reserved. <a href="http://www.mycompany.com/">www.mycompany.com</a></td>
  </tr>
</table>
</body>